.bg-primary {
    background: $primaryColor;
}

.text-primary {
    color: $primaryColor;
}

.bg-accent {
    background: $accentColor;
}

.text-accent {
    color: $accentColor;
}

.bg-curtain {
    @include desktop-only {
        background: url('../../../public/ccc-bg.jpeg');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}

@keyframes curtain {
    from {
        background-position-y: -2rem;
    }
    to {
        background-position-y: -11rem;
    }
}
